<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/footer.css' %}"> -->
</head>
<body>
    <div id="container">
        <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">×</a>
            <h2>Navigation</h2>
            <ul>
                <li><a href="{% url 'home' %}">Introduction</a></li>
                <li><a href="{% url 'index' %}">Chatbot</a></li>
            </ul>
        </div>
        <div id="content" id="mainContent">
            <button class="open-btn" onclick="toggleNav()">☰</button>
            <div id="chat-container">
                <h1>Welcome to Our NGS Chatbot</h1>

                <form id="user-info-form" action="{% url 'submit_user_info' %}" method="post">
                    {% csrf_token %}
                    <label for="age">年齡:</label>
                    <input type="number" id="age" name="age"><br><br>
                
                    <label for="education">教育程度:</label>
                    <input type="text" id="education" name="education"><br><br>
                
                    <label for="occupation">職業:</label>
                    <input type="text" id="occupation" name="occupation"><br><br>
                
                    <label for="language">語言:</label>
                    <input type="text" id="language" name="language"><br><br>
                    
                    <button type="submit">Submit</button>
                </form>
                
                <div id="messages-container">
                    <div id="messages">
                        <div class="message bot">{{ preset_response }}</div>
                    </div>
                </div>
                <form id="chat-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" id="message-input" autocomplete="off" placeholder="Type your message here...">
                    <button type="submit">Send</button>
                    <button type="button" onclick="startRecording()">Record</button>
                    <button type="button" onclick="stopRecording()" disabled>Stop</button>
                </form>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-container">
            <div class="footer-icon">
                <a href="https://drive.google.com/file/d/166rSWm1bWk1AwMD7rNBP8QUHxAa6N_IS/view" target="_blank">
                    <img src="{% static 'images/ppt.png' %}" alt="Our Slides" style="width:20px; height:20px;">
                </a>
                <a href="https://github.com/Bai1026/GenAI_Stars-NGS_Platform/tree/main" target="_blank">
                    <img src="{% static 'images/github.png' %}" alt="Our GitHub" style="width:20px; height:20px;">
                </a>
                <a href="mailto:b09602017@ntu.edu.tw" target="_blank">
                    <img src="{% static 'images/email.png' %}" alt="Our Email" style="width:20px; height:20px;">
                </a>
            </div>
            <div class="footer-text">© GenAI Stars 2024 NGS Platform</div>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const presetResponse = "{{ preset_response }}";
            const messagesDiv = document.getElementById('messages');
            const presetMessageDiv = document.createElement('div');
            presetMessageDiv.className = 'message bot';
            presetMessageDiv.textContent = presetResponse;
            messagesDiv.appendChild(presetMessageDiv);
        });

        document.getElementById('user-info-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const form = event.target;

            const formData = new FormData(form);
            const formObject = {};
            formData.forEach((value, key) => formObject[key] = value);

            try {
                const response = await fetch(form.action, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': form.querySelector('input[name="csrfmiddlewaretoken"]').value
                    },
                    body: JSON.stringify(formObject)
                });

                const data = await response.json();

                if (response.ok) {
                    // 隐藏表单
                    form.style.display = 'none';

                    // 在聊天窗口显示初始提示
                    const initialPrompt = `目前使用者資訊：年齡: ${formObject.age || 'N/A'}, 教育程度: ${formObject.education || 'N/A'}, 職業: ${formObject.occupation || 'N/A'}, 語言: ${formObject.language || 'N/A'}，請根據此用戶資訊使用適合的術語去介紹NGS給用戶。如果沒有提及語言，預設即為中文。`;
                    const messagesDiv = document.getElementById('messages');
                    const initialPromptDiv = document.createElement('div');
                    initialPromptDiv.className = 'message bot';
                    initialPromptDiv.textContent = initialPrompt;
                    messagesDiv.appendChild(initialPromptDiv);
                } else {
                    console.error(data.error || 'An error occurred');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });


        document.getElementById('chat-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const messageInput = document.getElementById('message-input');
            const message = messageInput.value;
            console.log('Message:', message); // 添加日志
            messageInput.value = '';

            const formData = new FormData();
            formData.append('message', message);
            const audioFile = document.getElementById('audio-input').files[0]; // 确保音频文件存在
            if (audioFile) {
                formData.append('audio', audioFile);
            }

            console.log('FormData:', formData); // 添加日志

            const messagesDiv = document.getElementById('messages');
            const userMessageDiv = document.createElement('div');
            userMessageDiv.className = 'message user';
            userMessageDiv.textContent = message;
            messagesDiv.appendChild(userMessageDiv);

            try {
                const response = await fetch('/chat/', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    }
                });

                const data = await response.json();

                if (response.ok) {
                    const botMessageDiv = document.createElement('div');
                    botMessageDiv.className = 'message bot';
                    botMessageDiv.textContent = data.response;
                    messagesDiv.appendChild(botMessageDiv);
                } else {
                    console.error(data.error || 'An error occurred');
                    const errorMessageDiv = document.createElement('div');
                    errorMessageDiv.className = 'message error';
                    errorMessageDiv.textContent = data.error || 'An error occurred';
                    messagesDiv.appendChild(errorMessageDiv);
                }

            } catch (error) {
                console.error('Error:', error);
                const errorMessageDiv = document.createElement('div');
                errorMessageDiv.className = 'message error';
                errorMessageDiv.textContent = 'A network error occurred';
                messagesDiv.appendChild(errorMessageDiv);
            }

            messagesDiv.scrollTop = messagesDiv.scrollHeight;
        });



        
        let mediaRecorder;
        let recordedChunks = [];

        function startRecording() {
            navigator.mediaDevices.getUserMedia({ audio: { sampleRate: 16000 } })
                .then(stream => {
                    mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.ondataavailable = event => {
                        if (event.data.size > 0) {
                            recordedChunks.push(event.data);
                        }
                    };
                    mediaRecorder.start();
                    document.querySelector('button[onclick="stopRecording()"]').disabled = false;
                    document.querySelector('button[onclick="startRecording()"]').disabled = true;
                })
                .catch(error => {
                    console.error('Error accessing microphone', error);
                });
        }

        function stopRecording() {
            mediaRecorder.stop();
            mediaRecorder.onstop = async () => {
                const audioBlob = new Blob(recordedChunks, { type: 'audio/wav' });
                const formData = new FormData();
                formData.append('audio', audioBlob);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                try {
                    const response = await fetch('/chat/', {
                        method: 'POST',
                        body: formData
                    });

                    const data = await response.json();

                    if (response.ok) {
                        // 添加机器人回复到聊天窗口
                        const messagesDiv = document.getElementById('messages');
                        const botMessageDiv = document.createElement('div');
                        botMessageDiv.className = 'message bot';
                        botMessageDiv.textContent = data.response;
                        messagesDiv.appendChild(botMessageDiv);
                    } else {
                        console.error(data.error || 'An error occurred');
                    }
                } catch (error) {
                    console.error('Error:', error);
                }

                recordedChunks = [];
                document.querySelector('button[onclick="stopRecording()"]').disabled = true;
                document.querySelector('button[onclick="startRecording()"]').disabled = false;
            };
        }

        function toggleNav() {
            const sidebar = document.getElementById("sidebar");
            const content = document.getElementById("mainContent");

            if (sidebar.style.width === "200px") {
                sidebar.style.width = "0";
                content.classList.remove("active");
            } else {
                sidebar.style.width = "200px";
                content.classList.add("active");
            }
        }
    </script>


</body>
</html>
