{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div id="home-container">
<!-- <div> -->
    <h1><em>Welcome to our NGS Platform</em></h1>
    <h2>什麼是NGS?</h2>
        <ul>
            <li>Next Generation Sequencing (NGS) 是一種高效率基因序列分析技術。</li>
            <li>同時分析數百萬條DNA片段，快速獲得大量基因訊息。</li>
            <li>廣泛應用於基因突變檢測，為精準醫學和疾病研究提供強大工具。</li>
            <li>它可以同時檢查很多很多基因，就像快速讀完一本書一樣。</li>
            <li>用來找出基因裡的突變，幫助醫生治療疾病。</li>
        </ul>

        <h3>
            為什麼要做NGS檢測？
        </h3>
            <ul>
                <li>找到癌症的突變基因，讓醫生可以找到更多治療的方法。</li>
                <li>追蹤和監控癌細胞，提早發現癌細胞復發，讓治療更有效。</li>
                <li>幫助醫生做決定，給醫生更多資訊，讓他們更準確地治療病人。</li>
            </ul>
        <h3>
            怎麼做NGS檢測？
        </h3>
            <ul>
                <li>腫瘤組織切片：像是切一小片腫瘤來檢查，適用於肺癌、乳癌、大腸癌等。</li>
                <li>血液檢體：抽血檢查，適用於已經取出腫瘤或腫瘤樣本品質不好的情況。</li>
            </ul>
        <h3>
            為什麼選擇NGS檢測？
        </h3>
            <ul>
                <li>技術非常成熟，很全面，數據更新快。</li>
                <li>醫學研究支持，比其他方法能找到更多有用的基因信息。</li>
            </ul>
        <h3>
            羅氏藥廠的檢測特點
        </h3>
            <ul>
                <li>經過FDA認證。</li>
                <li>準確率超過99%。</li>
                <li>技術成熟，已經有很多病人使用，許多新藥實驗也用這個方法。</li>
                <li>全面檢測所有突變。</li>
                <li>快速更新的醫學資料庫。</li>
            </ul>
        <h3>
            市面上的NGS套組類型
        </h3>
            <ul>
                <li>小型套組：檢測少於20個基因，針對特定癌症。</li>
                <li>中型套組：檢測20～50個基因，涵蓋更多癌症種類。</li>
                <li>大型套組：檢測超過300個基因，適用於臨床試驗等。</li>
                <li>液態活檢：抽血檢查，適用於沒有腫瘤組織樣本的情況。</li>
            </ul>
        <h3>
            NGS納入健保的意義
        </h3>
            <ul>
                <li>健保支付NGS檢測：從2024年5月1日起，健保支付這個檢測，每年有2萬多癌症病人受惠。</li>
                <li>基因檢測目的：針對不同癌症提供合適的檢測和支付方式。</li>
                <li>健保支付規範：每人每種癌症只能報一次，限特定醫院申報。</li>
            </ul>

</div>
{% endblock %}
